#Data Types and Structures Assignment

##Theoritical Questions

**[1] What are data structures, and why are they important?**

--> Data structures are ways of organizing and storing data so that it can be accessed and modified efficiently.

--> They are important because they help in managing large amounts of data, improve performance and make code easier to understand and maintain.

**[2] Explain the difference between mutable and immutable data types with examples.**

--> Mutable data types, can be changed after creation(e.g, Lists, Dictionaries)

Immutable data types, cannot be changed once created(e.g, Strings, tuples).

* **Example:**

List=[1,2];List[0]=5 #Mutable

Tup=(1,2);Tup(0)=5 #Error, Immutable

**[3] What are the main differences between lists and tuples in Python?**

--> Main differences between lists and tuples in Python:

* Lists aremutable and tuples are immutable

* Lists use more memory and tuples are more memory-efficient

* Tuples are faster than lists for iteration.

* Tuples are often used for fixed data.

**[4] Describe how dictionaries store data.**

--> dictionaries store data in key-value pairs. Each key is unique, and it maps to a value.They are incredibly efficient for looking up, adding or modifying values based on a specific key.  Internally, Python uses a hash table to store and retrieve values efficiently.

Keys must be immutable and values can be any data type. Dictionaries are designed for speed and efficiency.

**[5] Why might you use a set instead of a list in Python?**

--> Sets automatically remove duplicate values and offer faster lookup for membership testing (in). They are useful when uniqueness is required.

Sets support mathematical operations like union intersection, difference etc, which are not directly supported by lists.

**[6] What is a string in Python and how is it different from a list?**

--> A string in Python is a sequence of characters enclosed in quotes. It is immutable, means its contents cannot be changed after creation.

 A list is a collection of elements enclosed in square brackets. It is mutable, so its elements can be changed.

* **Example:**

s="hello" #string

l=["h", "e", "l", "l", "o"] #list

s[0]="H" --> Error(string is immutable)

l[0]="H" --> works(list is mutable)

**[7] How do tuples ensure data integrity in Python?**

--> Tuples are immutable, meaning their elements cannot be changed after creation. This immutability protects data from being accidentally modified, ensuring consistency and integrity throughout the program.

* **Example:**

t=(10,20,30)

t[0]=50 -> Error(cannot modify a tuple)

**[8] What is a hash table, and how does it relate to dictionaries in Python?**

--> A hash table is a data structure that stores data using a key and a computed hash value. It allows fast access to data using keys.

In Python, dictionaries are built on hash tables. each Key is hashed to find the index where its value is stored, allowing quick lookup, insertion and deletion.

* **Example:**

student={"name": "Anwesha", "age": 24}

* **Here,** 'name' is hashed to locate its value.

**[9] can lists contain different data types in Python?**

--> Yes, Python lists can contain elements of different data types. A single list can include integers, strings, floats, booleans, and even other lists or objects.

* **Example:**

mixed_list=[10,"hello", 3.14, True, [1,2], "July"]

**[10] Explain why strings are immutable in Python?**

--> Strings are immutable in Python to ensure safety, consistency, and performance. Once created, a string cannot be changed. This helps avoid accidental modifications, makes string safe to use as dictionary keys, and allows memory optimization through reuse. To change a string, a new one must be created, so it's safe for sharing or managing data without modification.

**[11] What advantages do dictionaries offer over lists for certain tasks?**

--> Dictionaries offer several advantages over lists:

(1) Faster data lookup using keys

(2) key-value pairs allow for better organization of related data.

(3) More readable and meaningful access to data  

* **Example:**

* **Using dictionary**

student={"name":"Anwesha", "Age":24}

* **Using list**

student_list=["Anwesha",24]

* **Accessing name:**

print(student["name"]) (Clear)

print(student_list[0]) (less clear)

**[12] Describe a scenario where using a tuple would be preferable over a list.**

--> Tuples are used to store fixed, unchangeable data. Since tuples are immutable, they protect data from accidental modification.

**Example:**

Location=(28.61, 77.20)  (Latitute, Longitude)

DOB=(27,12,2000)   (Date, Month, Year)

**In such cases,** data should remain unchanged, so a tuple is more suitable than a list.

**[13] How do sets handle duplicate values in Python?**

--> Sets in Python automatically remove duplicates. When a set is created or updated, any repeated values are stored only once.

* **Example:**

numbers={1,2,2,3,3,3,4,4,4,4}

print(numbers)

**Output:** {1,2,3,4}

This makes sets useful to make a collection of unique items.

**[14] How does the "in" keyword work differently for lists and dictionaries?**

--> In a list, the "in" keyword checks if a value exists in the list.

--> In a dictionary, "in" checks if a key exists, not the value.

* **Example:**

(1) **List**

fruits=["Mango", "Pineapple"]

print("Mango" in fruits)

**Output:**

True (Value)

(2) **Dictionarry**

student={"name":"Anwesha", "Age":24}

print("name" in student)

**Output:**

True (Key)

print("Anwesha" in student)

**Output:**

False (not a Key)

**[15] Can you modify the elements of a tuple? Explain why or why not.**

--> No, you cannot modify the elements of a tuple because tuples are immutable in Python. Once a tuple is created its contents cannot be changed.

* **Example:**

t=(10,20,30)

t[0]=50

**Output:**

Error  (: "tuple" object does not support item assignment.)

This immutability helps protect data from accidental changes.

**[16] What is a nested dictionary and give an example of its use case?**

--> A nested dictionary is a dictionary where one or more of the values is itself another dictionary. This allows to represent more complex data structures that require hierarchical storage.

nested dictionaries are particularly useful when you need to group data under various categories or when data is organized in levels. It helps to store related information together in a structured format.

* **Example:**

Storing student information, including their subjects and grades.

students={
  "Anwesha":{"Math":99, "Science":80, "English":97},
  "Debasish":{"Math":70, "Science":65, "English": 80}
  )

* **In this example:**

(1)Anwesha and Debasish are the main keys in the dictionary.

(2)The values associated with each key are themselves dictionaries that contain subjects and corresponding grades.

**Nested Dictionaries are extremely useful for dealing with complex data structures as:**
School Data, Employee details etc.

**[17] Describe the time complexity of accessing elements in a dictionary.**

--> In Python, a dictionary stores data using key-value pairs. To get a value using a key, Python uses a method called hashing to find it quickly.

The time it takes to find a value is usually constant, meaning it doesn't depend on how many items are in the dictionary. This is called 0(1) time complexity.

* **Example:**

student={"name": "Anwesha","age":24}

print(student["age"])

**Output:**

24 (Takes 0(1)time)

* **Even if the dictionary has many items, accessing a value by its key is still fast.**

**[18] In what situations are lists preferred over dictionaries?**

--> Lists are preferred over dictionaries when:

(1) Order matters- Lists keep elements in the order they were added.

(2) Indexing is needed- Elements can be accessed by their position(e.g., list[0])

(3) Duplicate values are needed- Lists can store the same value multiple times.

(4) Simple Collection- When need to store only values, not key-value pairs.

**[19] Why are dictionaries considered unordered, and how does that affect data retrieval?**

--> Dictionaries were considered unordered before Python 3.7, meaning they didn't keep the order  of items.

From Python 3.7 onward, they preserve insertion order, but data is still accessed by key, not by position.

* So, order does not affect retrieval- Key is always used to get a value.

* **Example:**

info={"name": "Anwesha","age": 24}

print(info["name"])

**Output:**

Anwesha  (accessed by key)

**[20] Explain the difference between a list and a dictionary in terms of data retrieval.**

--> A list is a collection of items that are accessed using index numbers, strating from o. It maintains the order of elements and allows duplicates. In contrast, a dictionary stores data in key-value pairs and elements are accessed using keys, not positions.

-->While lists are suitable when order and indexing are important, dictionaries are better when data needs to be labeled clearly for fast access.

-->For Example, fruits[0] retrieves the first item from a list, whereas student["name"] retrieves the value associated with the Key "name" in a dictionary

##Practical Questions

In [4]:
#[1] Write a code to create a string with your name and print it.

name="Anwesha"
print("My name is", name)

My name is Anwesha

In [5]:
#[2] Write a code to find the length of the string "Hello World".

text="Hello World"
length = len(text)
print("Length of the string is", length)

Length of the string is 11

In [6]:
#[3] Write a code to slice the first 3 characters from the string "Python Programming".

text="Python Programming"
slice=text[0:3]
print(slice)

Pyt

In [7]:
#[4] Write a code to convert the string "hello" to uppercase.

text="hello"
upper=text.upper()
print(upper)

HELLO

In [8]:
#[5] Write a code to replace the word "apple" with "orange" in the string "I like apple".

text="I like apple"
new_text=text.replace("apple", "orange")
print(new_text)

I like orange

In [10]:
#[6] Write a code to create a list with numbers 1 to 5 and print it.

numbers=[1,2,3,4,5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [11]:
#[7] write a code to append the number 10 to the list [1,2,3,4]

numbers=[1,2,3,4]
numbers.append(10)
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [12]:
#[8] Write a code to remove the number 3 from the list [1,2,3,4,5]

numbers=[1,2,3,4,5]
numbers.remove(3)
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [13]:
#[9] Write a code to access the second element in the list ['a','b','c','d']

letters=['a','b','c','d']
print("Second element:", letters[1])

Second element: b

In [14]:
#[10] Write a code to reverse the list[10,20,30,40,50]

numbers=[10,20,30,40,50]
numbers.reverse()
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [15]:
#[11] Write a code to create a tuple with the elements 100,200,300 and print it.

my_tuple = (100,200,300)
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

In [16]:
#[12] Write a code to access the second-to-last element of the tuple ('red','green','blue','yellow').

colors=('red','green','blue','yellow')
print("Second-to-last element:", colors[-2])

Second-to-last element: blue

In [17]:
#[13] Write a code to find the minimum number in the tuple (10,20,5,15)

numbers=(10,20,5,15)
minimum=min(numbers)
print("Minimum number:", minimum)

Minimum number: 5

In [18]:
#[14] Write a code to find the index of the element "cat" in the tuple('dog','cat','rabbit')

animals=('dog','cat','rabbit')
index=animals.index('cat')
print("Index of 'cat':", index)

Index of 'cat': 1

In [19]:
#[15] Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits=('apple', 'kiwi', 'orange')
if 'kiwi' in fruits:
  print("Kiwi is in the tuple")
else:
  print("Kiwi is not in the tuple")

Kiwi is in the tuple

In [20]:
#[16] Write a code to create a set with the elements 'a','b','c' and print it.

my_set={'a','b','c'}
print("Set:", my_set)

Set: {'c', 'b', 'a'}

In [24]:
#[17] Write a code to clear all elements from the set {1,2,3,4,5}

my_set={1,2,3,4,5}
my_set.clear()
print("Cleared set:", my_set)

Cleared set: set()

In [25]:
#[18] Write a code to remove the element 4 from the set {1,2,3,4}

the_set = {1,2,3,4}
the_set.remove(4)
print("Set after removing 4:", the_set)

Set after removing 4: {1, 2, 3}

In [26]:
#[19] Write a code to find the union of two sets {1,2,3} and {3,4,5}.

set1 = {1,2,3}
set2 = {3,4,5}
union_set = set1.union(set2)
print("Union of the sets:", union_set)

Union of the sets: {1, 2, 3, 4, 5}

In [27]:
#[20] Write a code to find the intersection of two sets {1,2,3} and {2,3,4}

set1 = {1,2,3}
set2 = {2,3,4}
intersection_set = set1.intersection(set2)
print("Intersection of the sets:", intersection_set)

Intersection of the sets: {2, 3}

In [28]:
#[21] Write a code to create a dictionary with the keys "name","age", and "city", and print it.

Info = {"name": "Anwesha", "age": 24, "city": "Kolkata"}
print("Dictionary:", Info)

Dictionary: {'name': 'Anwesha', 'age': 24, 'city': 'Kolkata'}

In [29]:
#[22] Write a code to add a new key-value pair "country": "USA" to the dictionary {'name':'John','age':25}

Info = {'name':'John','age':25}
Info['country'] = 'USA'
print("Updated dictionary:", Info)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [30]:
#[23] Write a code to access the value associated with the key "name" in the dictionary {'name':'Alice','age':30}

Info = {'name':'Alice','age':30}
print("Value associated with 'name':", Info['name'])

Value associated with 'name': Alice

In [1]:
#[24] Write a code to remove the key "age" from the dictionary {'name':'Bob','age':22,'city':'New York'}

Info = {'name':'Bob','age':22,'city':'New York'}
del Info['age']
print("Dictionary after removing 'age':", Info)

Dictionary after removing 'age': {'name': 'Bob', 'city': 'New York'}

In [2]:
#[25] Write a code to check if the key "city" exists in the dictionary {'name':'Alice','city':'Paris'}

Info={'name':'Alice','city':'Paris'}
if 'city' in Info:
  print("Key 'city' exists in the dictionary")
else:
  print("Key 'city' does not exist in the dictionary")

Key 'city' exists in the dictionary

In [3]:
#[26] Write a code to create a list, a tuple and a dictionary, and print them all

my_list = [1,2,3]
my_tuple = (4,5,6)
my_dict = {'a':1, 'b':2, 'c':3}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'a': 1, 'b': 2, 'c': 3}

In [5]:
#[27] Write a code to create a list of 5 random numbers between 1 and 100,
#sort it in ascending order, and print the result.

numbers=[23,56,78,3,20]
numbers.sort()
print("Sorted list:", numbers)

Sorted list: [3, 20, 23, 56, 78]

In [11]:
#[28] Write a code to create a list with strings and print the element at the third index

strings = ["apple", "banana", "cherry", "Mango", "Guava"]
print("Element at third index:", strings[3])

Element at third index: Mango

In [12]:
#[29] Write a code to combine two dictionaries into one and print the result

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [13]:
#[30] Write a code to convert a list of strings into a set

strings = ["apple", "banana", "cherry", "Mango", "Guava"]
my_set = set(strings)
print("Set:", my_set)

Set: {'Guava', 'cherry', 'apple', 'banana', 'Mango'}